<div class="toggle">
  <div class="toggle-container">
    <md-checkbox
          type="checkbox"
          id="theme-switch"
          class="theme-switch"
          data-aspect="darkTheme"
          label="Dark Mode"
          >
          <md-label>Dark Mode</md-label>
          </md-checkbox
        >
    <div class="switch-container">
      <md-label class="switch" text="Responsive">
        Widget Boundary
      </md-label>
      <md-input
        type="text"
        id="width-switch"
        class="theme-switch"
        data-aspect="responsive-width"
        ></md-input>
      <md-label>x</md-label>
      <md-input
        type="text"
        id="height-switch"
        class="theme-switch"
        data-aspect="responsive-height"
        ></md-input>
    </div>
  </div>

</div>
<div class="container">
  <div style="width: 500px; height: 80vh" class="widget-container">
    <my-custom-component></my-custom-component>
  </div>
</div>