$main-border: 1px solid var(--md-primary-seperator-color, #ccc);

:host {
  display: block;
  background-color: var(--md-primary-bg-color);
  color: var(--md-primary-text-color);
  height: 100%;
}

.hospital-widget {
  height: 100%;

  .loading-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .hospital-image {
    display: block;
    height: 204px;
    object-fit: cover;
    width: 100%;

    &.void {
      display: flex;
      justify-content: center;

      span {
        padding-top: 6rem;
      }
    }
  }

  .flex-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-section {
      min-width: 0;
      display: inline-flex;
    }
  }

  .long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .short-and-fixed {
    flex: 0 0 auto;
  }

  .hospital-header {
    padding: 1rem 1rem 0 1rem;

    .left-header-portion {
      display: flex;
      flex: 1 1 0%;
    }

    .hospital-badge::part(badge) {
      padding: 0.25rem 1rem;
    }

    &.expanded {
      border-bottom: $main-border;
      padding: 0.875rem 1.5rem 0.875rem 0.875rem;

      .header-text {
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
        margin-right: 16px;
      }

      .icons {
        float: right;
        margin-top: 4px;

        md-button {
          margin-left: 1rem;
        }
      }
    }
  }

  .hospital-details {
    padding: 1rem;
    font-size: 14px;
    line-height: 21px;

    .warning-block {
      background-color: var(--md-secondary-bg-color, #f7f7f7);
      border-radius: 4px;
      padding: 8px;
      margin-bottom: 8px;

      md-icon {
        color: var(--md-alert-warning-text-color, #7d4705);
        margin: 0 8px;
      }

      .warning-text {
        font-size: 12px;
        line-height: 150%;
        color: var(--md-secondary-text-color, #545454);
      }
    }

    .details {
      display: flex;

      .cell {
        margin-top: 0.5rem;
      }

      .title-column {
        width: 100px;
        margin-right: 1.5rem;

        .title {
          color: var(--md-secondary-text-color, #545454);
        }
      }

      .value-column {
        .value {
          color: var(--md-primary-text-color, #121212);

          &.open {
            color: var(--md-alert-success-text-color, #12615a);
          }

          &.closed {
            color: var(--md-alert-error-text-color, #a12512);
          }
        }
      }
    }
  }
}
