@import "./mixins";

$main-border: 1px solid var(--md-primary-seperator-color, #ccc);

.hospital-widget {
  display: flex;
  height: 100%;
  background-color: var(--md-primary-bg-color);
  color: var(--md-primary-text-color);

  .hospital-list {
    width: 396px;
    min-width: 274px;
    flex: 0 1 auto;
    border-right: $main-border;
    height: 100%;
    overflow: auto;

    md-list {
      padding: 4px;
    }

    .hospital-item-wrapper {
      width: 100%;
      margin-bottom: 1px;
      position: relative;
      z-index: 0;
      border-bottom: $main-border;

      &:focus {
        box-shadow: none;
        outline: none;

        &::after {
          @include item-focus-boxshadow;
        }
      }

      &::after {
        @include item-after-focus;
        border-radius: 4px;
      }
    }
  }

  .right-side {
    flex: 1;
    min-width: 450px;
  }
}

.loading-wrapper,
.error-wrapper {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.hospital-details {
  display: flex;
  flex-direction: column;
  height: 100%;

  .hospital-image {
    display: block;
    height: 204px;
    object-fit: cover;
    width: 100%;

    &.void {
      display: flex;
      justify-content: center;

      span {
        padding-top: 6rem;
      }
    }
  }

  .flex-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left-section {
      min-width: 0;
      display: inline-flex;
    }
  }

  .long-and-truncated {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .short-and-fixed {
    flex: 0 0 auto;
  }

  .hospital-header {
    padding: 1rem 1rem 0 1rem;

    .left-header-portion {
      display: flex;
      flex: 1 1 0%;
    }

    .hospital-badge::part(badge) {
      padding: 0.25rem 1rem;
    }

    &.expanded {
      border-bottom: $main-border;
      padding: 0.875rem 1.5rem 0.875rem 0.875rem;

      .header-text {
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
        margin-right: 16px;
      }

      .icons {
        float: right;
        margin-top: 4px;
        height: 24px;

        md-button {
          margin-left: 1rem;
        }
      }
    }
  }

  .hospital-data {
    padding: 1rem;
    font-size: 14px;
    line-height: 21px;
    overflow: scroll;

    .warning-block {
      background-color: var(--md-secondary-bg-color, #f7f7f7);
      border-radius: 4px;
      padding: 8px;
      margin-bottom: 8px;

      md-icon {
        color: var(--md-alert-warning-text-color, #7d4705);
        margin: 0 8px;
      }

      .warning-text {
        font-size: 12px;
        line-height: 150%;
        color: var(--md-secondary-text-color, #545454);
      }
    }

    .details {
      display: block;
      margin-top: 1rem;

      .row {
        display: flex;
        flex-direction: row;
        margin-top: 8px;

        .title {
          width: 7rem;
          color: var(--md-secondary-text-color, #545454);
        }

        .value {
          flex: 1;
          color: var(--md-primary-text-color, #121212);

          &.open {
            color: var(--md-alert-success-text-color, #12615a);
          }

          &.closed {
            color: var(--md-alert-error-text-color, #a12512);
          }

          .pop-out-icon {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
}
