.hospital-item {
  padding: 16px;
  border-radius: 4px;

  &.selected {
    background-color: var(--md-secondary-bg-color, #f7f7f7);
  }
}

.hospital-badge::part(badge) {
  padding: 0.25rem 1rem;
}

.details {
  display: block;

  .row {
    display: flex;
    flex-direction: row;
    margin-top: 8px;

    .title {
      width: 7rem;
      color: var(--md-secondary-text-color, #545454);
    }

    .value {
      flex: 1;
      color: var(--md-primary-text-color, #121212);
    }
  }
}
