@agentx:registry=https://engci-maven.cisco.com/artifactory/api/npm/agentx-npm/
@uuip:registry=https://engci-maven.cisco.com/artifactory/api/npm/unified-ui-platform-npm/
@momentum-ui-private:registry=https://engci-maven.cisco.com/artifactory/api/npm/momentum-ui-npm/

_auth = YWdlbnR4LmdlbjpBUDNISnVjOUxncWJUUlE4M1hyN2ptMnRYSnY=
always-auth = true
email = agentx.gen@cisco.com
