@import "./App.scss";

.hospitals-section {
  height: 171px;
}

.hospital-badge::part(badge) {
  padding: 0.25rem 1rem;
}

.row {
  font-size: 14px;
  margin-top: 8px;

  .title {
    color: var(--md-secondary-text-color, #545454);
  }
  .value {
    color: var(--md-primary-text-color, #121212);
    margin-left: 30px;
  }
}
