@import "./App.scss";

.table-section {
  width: 296px;
  height: 100%;

  .sub-body {
    height: 261px;
    overflow: scroll;
  }
}

.sort-button-icon {
  position: absolute;
  right: 12px;

  &::part(button) {
    top: 15px;
    margin-right: 16px;
  }
}

.covid-table {
  &::part(left-cell) {
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
  }

  &::part(cell) {
    font-size: 12px;
    vertical-align: middle;
  }

  &::part(first-row) {
    color: var(--md-alert-error-text-color);
  }
}