.app {
  width: 100%;
  height: 100%;
  padding: 20px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

.action-container {
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
}

.action-container md-button {
  margin: 10px 0;
}